.panel.panel-info
  .panel-heading Teams
  %ul.list-group
    - if current_user? && !@team_invites.empty?
      - @team_invites.each do |invite|
        - team = invite.team
        %li.list-group-item
          #{present(team).link}
    
          .button-group.pull-right
            = button_to decline_team_invite_path(team),
                        method: :delete, class: 'btn btn-danger bnt-leave' do
              Decline
              %span.glyphicon.glyphicon-remove
          .button-group.pull-right
            = button_to accept_team_invite_path(team),
                        method: :post, class: 'btn btn-success bnt-leave' do
              Accept
              %span.glyphicon.glyphicon-ok           
    - @teams.each do |team|
      %li.list-group-item
        = link_to team.name, team_path(team)
        - if current_user?
          .button-group.pull-right
            = button_to leave_team_path(team), method: :patch, class: 'btn btn-danger bnt-leave' do
              Leave
              %span.glyphicon.glyphicon-remove