- content_for(:title) { 'News' }

.row.padless
  .col-xs-9
    %h1.outside.nopadding News
  .col-xs-3
    = link_to '/news.atom', class: 'btn btn-default pull-right inh1-button', type: 'button' do
      %span.glyphicon.glyphicon-briefcase

- if @news.empty?
  .panel.panel-container
    %h5 No news just yet...
- else
  .row.padless
    .col-sm-12
      .panel.panel-default.news-pane
        .panel-heading.nopadding
          = present(@first).imagelink
          .newsdate
            %span= present(@first).created_at
        .panel-body
          %h2.nopadding= present(@first).link
          %p= present(@first).content
  .row.padless
    - present_collection(@rest).each do |news|
      .col-md-4
        .panel.panel-default.news-pane
          .panel-heading.nopadding
            = news.thumblink
            .newsdate
              %span= news.created_at
          .panel-body
            %h2.nopadding= news.link
            %p= news.short
%br/
