- content_for(:title) { 'Home' }

- if @news.empty?
  .panel.panel-container
    %h5 No news just yet...
- else
  .row.padless
    .col-md-8
      .row.padless
        .col-sm-12
          .panel.panel-default.news-pane
            .panel-heading.nopadding
              = present(@head).imagelink
              .newsdate
                %span= present(@head).created_at
            .panel-body
              %h2.nopadding= present(@head).link
              %p= present(@head).content
      .row.padless.bottom-news
        - present_collection(@rest).each do |news|
          .col-md-3
            .panel.panel-default.news-pane.thumb
              .panel-heading.nopadding
                = news.thumblink
                .newsdate
                  %span= news.created_at
              .panel-body
                %h4.nopadding= news.link
                %p= news.short
        .col-md-3
          .panel.panel-default.news-pane
            .panel-body
              %h4= link_to 'Read more...', news_index_path
    .col-md-4