- content_for(:title) { "#{@thread.title} | Forums" }

= render 'forums/head', object: @thread

.panel.panel-container
  .row
    .btn-group.pull-right
      - if user_can_edit_thread?
        .pull-right
          = link_to edit_forums_thread_path(@thread), class: 'btn btn-default' do
            Edit
            %span.glyphicon.glyphicon-cog

    .panel.panel-default
      - @posts.each do |post|
        = render post, quote_id: 'wmd-input-new-forums-post'
    
      - if user_can_create_post?
        .container-fluid
          %hr
          = bootstrap_form_for @post, url: forums_thread_posts_path(@thread, page: @page) do |f|
            = render 'forums/posts/form', f: f
    
            .row
              = f.submit 'Post', class: 'btn btn-default pull-right'
    
    = bootstrap_paginate @posts
