%em.fa.fa-trophy
%ul.list-group.text-right.league-list
  = link_to 'http://etf2l.org', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding ETF2L
    %p.league-desc European 6v6/HL
    .league-underlay{:style => "background: url(/images/leagues/etf2l.png)"}

  = link_to 'http://ugcleague.com/', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding UGC
    %p.league-desc North American / European / Australian / South American HL/6v6/4v4
    .league-underlay{:style => "background: url(/images/leagues/ugc.png)"}

  = link_to 'http://ozfortress.com/', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding ozfortress
    %p.league-desc Australian / New Zealand 6v6
    .league-underlay{:style => "background: url(/images/leagues/ozfortress.png)"}

  = link_to 'https://play.esea.net/', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding ESEA
    %p.league-desc North American, Paid league 6v6
    .league-underlay{:style => "background: url(/images/leagues/esea.png)"}

  = link_to 'http://tfcleague.com/', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding TFCL
    %p.league-desc North American HL/6v6/4v4/2v2
    .league-underlay{:style => "background: url(/images/leagues/tfcl.png)"}

  = link_to 'http://rgl.gg/', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding RGL
    %p.league-desc North American / European / Australian  7v7/HL
    .league-underlay{:style => "background: url(/images/leagues/rgl.png)"}

  = link_to 'https://pan.tf/', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding Ready Steady Pan
    %p.league-desc North American / European / Australian  6v6 (Pan only)
    .league-underlay{:style => "background: url(/images/leagues/rsp.png)"}

  = link_to 'http://asiafortress.com/', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding AsiaFortress
    %p.league-desc Asian 6v6
    .league-underlay{:style => "background: url(/images/leagues/asiafortress.png)"}

  = link_to 'https://discordapp.com/invite/dQKZu7p', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding FBTF
    %p.league-desc SA 6v6 / HL

  = link_to 'http://chapelaria.tf/', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding Chapelaria
    %p.league-desc South-American 6v6/HL/2v2
    .league-underlay{:style => "background: url(/images/leagues/chapelaria.png)"}

  = link_to 'https://respawnleague.com/', class: 'list-group-item list-group-item-warning' do
    %h4.list-group-item-heading.nopadding Respawn League
    %p.league-desc Australian / New Zealand HL