.panel.panel-default
  .panel-heading Social
  %ul.list-group
    %li.list-group-item
      = link_to 'http://steamcommunity.com/groups/qixalite', target: '_blank' do
        = image_tag 'steam/steam-logo.png'
        Join our Steam Group
    %li.list-group-item
      = link_to 'https://discord.gg/Mkm6JDq', target: '_blank' do
        = image_tag 'discord-logo.png'
        Join us on Discord
    %li.list-group-item
      = link_to 'http://twitter.com/Qixalite', target: '_blank' do
        = image_tag 'twitter-logo.png'
        Follow us on Twitter
